<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if status %}
    <script type="text/javascript">
        alert("{{status}}");
    </script>
    {% endif %}

    

    {% load staticfiles %}
    
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Template CSS Files
    ================================================== -->
    <!-- Twitter Bootstrs CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Ionicons Fonts Css -->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Hero area slider css-->
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <!-- owl craousel css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <!-- template main css file -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    
    <!-- Template Javascript Files
    ================================================== -->
    <!-- modernizr js -->
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- owl carouserl js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- bootstrap js -->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- wow js -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- slider js -->
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <!-- template main js -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block head %}
    {% endblock %}

</head>

<body>
  <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" >
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="../index" >Home</a>
                            </li>
                            {% if type == 'index' %}
                            <li><a href="#works" data-wow-delay=".9s" data-section="#works" class="smooth-scroll">Work</a></li>
                            {% else %}
                            <li><a href="../index#works" >Work</a></li>
                            {% endif %}
                            <!-- <li><a href="service.html">Service</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="blog-fullwidth.html">Blog Full</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right sidebar</a></li>
                                    </ul>
                                </div>
                            </li> -->
                            <li><a href="../contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>


    {% block content %}
    {% endblock %}
        <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span>2016</span> . Design and Developed by <a href="https://bitbucket.org/sarthak5991">    Sarthak Saini</p>
                    </div>
                    <div class="col-md-4">
                        <!-- Social Media -->
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/sarthak.saini.73" class="Facebook">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer> <!-- /#footer -->

    {% block scripts %}
    {% endblock %}

</body>

</html>